@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit",sans-serif;
    background-color: #0f0e17;
}

.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.hover {
    transition: 0.2s ease;
}
.hover:hover {
    color: rgb(201, 201, 201);
    transform: scale(1.05);
}

.div-company-logo {
    width: 100%;
    height: 100%;
}
.company-logo {
    width: 40px;
    height: 100%;
}

.nav-padding-left {
    padding-left: 1rem;
}

.nav-padding-right {
    padding-right: 1rem;
}

/* for the main heading */
.main {
    width: 100%;
    text-align: center;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-heading {
    font-size: 48px;
    letter-spacing: -1px;
}

.hero {
    width: 50%;
}
.hero-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-main-para {
    width: 75%;
    padding-top: 2rem;
}

.main-para {
    color: #a7a9be;
}
 
.div-button {
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.button-launch {
    background: transparent;
    font-family: "Outfit",sans-serif;
    font-size: 24px;
    background-color: #ff8906;
    height: 70px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    transition: 0.2s ease;
}

.link-button-launch {
    text-decoration: none;
}

.button-launch:hover {
    background-color: #d17000;
    cursor: pointer;
    transform: scale(1.05);
}

.div-tech-name {
    padding-top: 1.5rem;
    width: 100%;
    height: auto;
}

.div-technologies {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 1.5rem;
    gap: 3rem;
}


.react-icon {
    font-size: 5rem;
} 